* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eee;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

nav {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: center;
}

nav a {
    color: #ffffff;
    padding: 10px 15px;
    display: block; 
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #dc143c; 
}

main {
    max-width: 840px; 
    margin: 0 auto;
    padding-top: 15px;
}

h1 {
    text-align: center;
    margin: 15px 0 25px 0;
    color: #111; 
}

main img {
    width: 200px;
    height: auto;
    border: 5px solid #fff;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto 20px auto;
}

main p {
    text-align: center;
    line-height: 1.5rem;
}

aside {
    width: 600px; 
    margin: 40px auto 0 auto; 
    border: 1px solid rgb(0 0 0 / 0.2); 
    padding: 20px; 
    background-color: #e2e2e2; 
    color: #333; 
    text-align: center;
}

aside h2 {
    margin-bottom: 15px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px; 
    border-top: 1px solid #333; 
    text-align: center; 
    padding: 20px;
    background-color: #333;
    color: #fff;
}